<!DOCTYPE html>

<title>Edit Slider</title>

{% block body %}
    <h1>Edit Slider</h1>

    {{ include('backend/slider/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_slider_index') }}">Volver a la lista</a>

    {{ include('backend/slider/_delete_form.html.twig') }}
{% endblock %}
