{% extends 'backend/base.html.twig' %}
{% block title %}Nuevo Slider
{% endblock %}

{% block body %}
    <h1>Create new Slider</h1>

    {{ include('backend/slider/_form.html.twig') }}

    <a href="{{ path('app_slider_index') }}">back to list</a>
{% endblock %}
