{% extends 'backend/base.html.twig' %}

{% block title %}Editando plataforma{% endblock %}

{% block body %}
    <h1 class="display-6 mt-4">Edicion de categoría</h1>
    <div class="card mb-4">
        <div class="card-body">
            {{ include('backend/plataforma/_form.html.twig', {'button_label': 'Actualizar'}) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('app_plataforma_index') }}" class="text-primary d-block mb-2">
                <i class="fas fa-caret-square-left"></i> Volver a lista</a>
            {{ include('backend/plataforma/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
