{% extends 'backend/base.html.twig' %}

{% block title %}Nueva plataforma{% endblock %}

{% block body %}
    <h1>Create new Plataforma</h1>

    {{ include('backend/plataforma/_form.html.twig') }}

    <a href="{{ path('app_plataforma_index') }}">back to list</a>
{% endblock %}
