<h1>¡Hola!, por favor confirme su cuenta</h1>

<p>
    Por favor confirme su cuenta en Videojuegos Jaén en el siguiente link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmación de email</a>.
    Este link expirará en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    ¡Un cordial saludo!
</p>
