{% block body %}
    <div class="container">
        <div class="row">
            <div id="basket" class="col-lg-9">
                <div class="box color-box">
                        <h1>Carrito</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light cabeceraTabla">
                                <tr>
                                    <th>PRODUCTO</th>
                                    <th>PRECIO</th>
                                    <th>DESCUENTO</th>
                                    <th>UNIDADES</th>
                                    <th colspan="2">Total</th>
                                </tr>
                                </thead>
                                <tbody class="cuerpoTablaCarrito">

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="4">Total</th>
                                    <th colspan="2"></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.table-responsive-->
                        <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                            <div class="left"><a href="#" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Continuar Comprando</a></div>
                        </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div id="order-summary" class="box color-box">
                    <div class="box-header color-box">
                        <h3 class="mb-0">CARRITO TOTAL</h3>
                    </div>
                    <div class="cart-total mb-3 ">
                        <h3>CARRITO TOTAL</h3>
                        <span>En Videojuegos Jaén siempre contará con nuestra confianza</span>
                        <hr>
                        <p class="d-flex total-price">
                            <span>Total</span>
                            <span class="facturaTotal">0.00 €</span>
                        </p>
                    </div>
                    <p>
                        <button class="btn btn-primary btnPagar" disabled>Pagar</button>
                    </p>
                </div>


            </div>


        </div>
    </div>
{% endblock %}