<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <!--
            *** OPCIONES DE LA CUENTA ***
            _________________________________________________________
            -->
            <div class="card sidebar-menu">
                <div class="card-header">
                    <h3 class="h4 card-title">Opciones Cuenta</h3>
                </div>
                <div class="card-body">
                    <ul class="nav nav-pills flex-column">
                        <a href="#" class="nav-link miCuenta"><i class="fa fa-user"></i> Mi cuenta</a>
                        <a href="#" class="nav-link misPedidos"><i class="fa fa-list"></i> Mis pedidos</a>
                        <a href="{{ path('app_logout') }}" class="nav-link"><i class="fa fa-sign-out"></i> Logout</a>

                    </ul>
                </div>
            </div>
            <!-- /.col-lg-3-->
            <!-- *** FIN OPCIONES CUENTA ***-->
        </div>
        <div class="col-lg-9 opcionesCuenta">

        </div>
    </div>
</div>