{% block body %}
    <div class="typeVideojuego" data-url="{{ asset('uploads/videojuegos/')}}" data-videojuego="{{ videojuego|json_encode }}" data-fotos-videojuego="{{ fotosProducto|json_encode }}"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-1 order-lg-2 divVideojuego">
                
            </div>
        </div>   
    </div>

{% endblock %}