<form method="post" action="{{ path('app_categoria_delete', {'id': categorium.id}) }}" onsubmit="return confirm('¿Estás seguro de querer eliminar esta categoría?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorium.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
