<!--
     *** TOPBAR ***
     _________________________________________________________
     -->
<div id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offer mb-3 mb-lg-0"></div>
            <div class="col-lg-6 text-center text-lg-right">
                <ul class="menu list-inline mb-0">
                    {% if app.user %}
                    <li class="list-inline-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu bg-dark color-white" aria-labelledby="dropdown04">
                            <a class="dropdown-item miCuenta menu" href="#"><i class="fas fa-user-cog"></i> Cuenta</a>
                            <a class="dropdown-item menu" href="{{ path('app_logout')}}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesion</a>
                        </div>
                        <li class="list-inline-item carrito"> <a href="#" class="nav-link carrito menu"> <i class="fa fa-shopping-bag fa-2x" aria-hidden="true"></i><span class="badge bg-primary cCarrito">0</span></a> </li>
                    </li>
                    
                    {% else %}
                    <li class="list-inline-item active"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                    <li class="list-inline-item registro"><a href="#">Registro</a></li>
                    {% endif %}

                    <li class="list-inline-item contacto"><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content color-nav-frontend">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title">Login Usuario</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                                aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input id="email-modal" type="text" placeholder="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input id="password-modal" type="password" placeholder="password" class="form-control">
                        </div>
                        <p class="text-center">
                            <button class="btn btn-primary" id="btnModalRegistro"><i class="fas fa-sign-in-alt"></i>Log in</button>
                        </p>
                    </form>
                    <p class="text-center text-muted">¿No estás registrado todavía?</p>
                    <p class="text-center text-muted"><a href="#" class="registro"><strong>Regístrate ahora</strong></a>Es muy sencillo
                    y no te tomará más de un minuto</p>
                </div>
            </div>
        </div>
    </div>
    <!-- *** TOP BAR END ***-->


</div>